!!!
html
	head
		title= title
		meta(name='author', content='aqingsao')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/admin.css')
		link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
	body!= body