div#header.true.clearfix
	div.container.clearfix
		div#logo
			h2
				a.site-logo(href="/", title="How to pronunce")= "How to Read Me"
			p 程序员最容易读错的单词
		div#challenge
			div.score
				您答对了
				span.voted= 0
				个中的
				span.correct= 0
				个，战胜了
				span.rate= '0%'
				的人
			div#ckepop.rateShare
				a.jiathis_button_tsina 
				a.jiathis_button_tqq 
div#report				
div#content
	div.notFound
		iframe(scrolling='no', frameborder='0', src='http://yibo.iyiyun.com/js/yibo404', width='735', height='700', style="display:block;")

div#footer
	div.container.clearfix
		div#legal
			p Copyright © 2012 <a href="http://weibo.com/u/1566959347" target="_blank">@aqingsao</a>. All Rights Reserved.
