div#header.true.clearfix
	div.container.clearfix
		span#logo
			a.site-logo(href="https://how2read.me/", title="Make readings really universal")= title
		div#userbox
			div#user
				span Welcome 
					a.name user
				
div#content
	div.container.clearfix
		div#mainbar
			- for(var i in terms)
				div.term
					div.statscontainer
						div.stats
							div.votes
								span 100 
								div votes
							div.status.approved
								span 75 
							div incorrect
					div.summary
						h3= terms[i].name
						span.reading 
							a(href="")= terms[i].reading
						div.incorrect 
							ul.readings
								li(title="Chinese")
								span 阿帕奇
							div.tags
								a.tags(href="/tags") web-server
								a.tags(href="/tags") Unix
		div#sidebar
			div#newlyApproved
			div#newlyAdded
			div#notApproved
div#footer
	div.container.clearfix
		div#legal
			span All Rights Reserved.
			span Email: xqzhang@thoughtworks.com  
			span website: 
				a(href="http://xiaoqing.me") http://xiaoqing.me  
			span weibo(@aqingsao)  
