div#header.true.clearfix
	div.container.clearfix
		span#logo
			a.site-logo(href="https://how2read.me/")= title
		div#userbox
			div#user
				span Welcome 
				a.name user
				
div#main
	div.container.clearfix
		div#allApproved
			div.term
				div.title Apache
					span.correct [ə'pætʃi]
					ul
						li.correct 阿帕奇
		div#sidebar
			div#newlyApproved
			div#newlyAdded
			div#notApproved
		
div#footer
	div.container.clearfix
		div#legal
			span All Rights Reserved.
			span Email: xqzhang@thoughtworks.com  
			span website: 
				a(href="http://xiaoqing.me") http://xiaoqing.me  
			span weibo(@aqingsao)  
