!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="/stylesheets/poshy/tip-yellow/tip-yellow.css", type="text/css")
		link(rel="stylesheet", href="/stylesheets/poshy/tip-violet/tip-violet.css", type="text/css")
		link(rel="stylesheet", href="/stylesheets/poshy/tip-darkgray/tip-darkgray.css", type="text/css")
		link(rel="stylesheet", href="/stylesheets/poshy/tip-skyblue/tip-skyblue.css", type="text/css")
		link(rel="stylesheet", href="/stylesheets/poshy/tip-yellowsimple/tip-yellowsimple.css", type="text/css")
		link(rel="stylesheet", href="/stylesheets/poshy/tip-twitter/tip-twitter.css", type="text/css")
		link(rel="stylesheet", href="/stylesheets/poshy/tip-green/tip-green.css", type="text/css")
	body!= body