!!!
html
	head
		title= title
		meta(name='description', content="Lists the most wrongly pronounced words in IT industry by developers, it provides audios for both correct and incorrect pronunciations so that you know how to read it correctly. It aims to make developers' pronunciations in IT industry to be really universal.")
		meta(name='keywords', content='How to read, How to pronounce, pronunciation, 怎么读, 怎么发音, 怎么念')
		meta(name='author', content='aqingsao')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
	body!= body