/*For general*/
*{
	margin: 0;
	padding: 0;
}
body {
	background-color: white;
	font: 13px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4;
	color: #333;
}
.clearfix{
	display: block;
}
.clearfix::after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.hide{
	display:none;
}
img{
	border: 0;
	vertical-align: middle;
	cursor: pointer;
}
/*For headers*/
#header{
	position: fixed;
	width: 100%;
	background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
	background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
	background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
	z-index: 10;
	border-bottom: 1px solid #CACACA;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
	color: #888;
}
.container{
	width: 960px;
	margin: 0 auto;
}

#logo{
	float: left;
	position: relative;
	width: 24%;
	height: 60px;
}

#logo a{
	color: #888;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	padding: 9px 0 0 0;
	text-shadow: 2px 2px 1px white
}
#logo p{
	text-align: center;
}
#challenge{
	float: right;
	height: 100%;
	width: 60%;
	min-width: 500px;
	text-align: right;
	padding-top: 10px;
}
#challenge span{
	font-size: 2.5em;
	font-weight: bold;
	color: #7F9FB6;
}
#challenge div{
	display: inline-block;
}
#challenge div.rateShare{
	margin-left: 10px;
}
/*For footers*/
#footer{
	position: relative;
	bottom: 0;
	color: #636363;
	margin: 15px 0 0 0;
	font-size: 12px;
}
#footer #legal{
	margin: 0 auto;
	text-align: center;
}

/*For body*/
#content{
	min-height: 450px;
	padding-top: 60px;
}

#content .browser.warn{
	color: red;
	background-color: yellow;
	font-weight: bold;
	text-align: center;
	display: none;
}
#content .term{
	padding: 11px 0;
	overflow: hidden;
	border-bottom: 1px dotted #999;
}

/*For a term*/
.term .statscontainer{
	width: 150px;
	float: left;
	margin-right: 8px;
}
.term canvas{
	display: none;
}

.term .summary{
	float: left;
	width: 802px;
}
.term .name{
	font-weight: normal;
	font-size: 2.0em;
	display: inline-block;
	width: 20%;
}
.term .name a, .term .name a:link, .term .name a:visited, .term .name a:hover, .term .name a:active{
	text-decoration: none;
	color: #3E6D8E;
}

.term .description{
	font-size: 90%;
	font-family: Arial;
	color: #999;
}

.vote .rate{
	display: inline-block;
	width: 190px;
}
.vote .rate span{
	font-weight: bold;
	font-size: 19px;
	color: #FFAA52;
}
.vote .votable{
	margin: 0 15px 0 0;
	padding: 3px 4px 3px 36px;
	display: inline-block;
	width: 80px;
	line-height: 2.4;
	font-size: 90%;
	text-decoration: none;
	
	color: #3E6D8E;
	font-weight: bold;
	background-color: #E0EAF1;
	background-image: url(/images/speaker.png);
	background-position: 8px 8px;
 	background-repeat: no-repeat;	
	
	border-bottom: 1px solid #E0EAF1;
	border-right: 1px solid #E0EAF1;
}

.vote .votable.loading:hover, .vote .votable.loading{
	text-decoration: none;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	cursor: pointer;
	background-image: url(/images/loader.gif);
}

.vote .votable:hover {
	text-decoration: none;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	cursor: pointer;
	background-image: url(/images/speaking.gif);
}
.vote.voted .votable:hover{
	cursor: default;
}

.vote .votable.right{
	color: #3E6D8E;
}
.vote .votable.wrong{
	color:#FFAA52;
}

.term .vote{
	margin: 12px 0;
}

.term .share{
	float: right;
}
.term a.voting{
	color: red;
}

div#ckepop span{
	margin-right: 10px;
}