/*For general*/
*{
	margin: 0;
	padding: 0;
}
body {
	background-color: white;
	font: 13px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4;
	color: #333;
}
.clearfix{
	display: block;
}
.clearfix::after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
ul span{
	margin: 0 15px;
}
/*For headers*/
#header{
	background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
	background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
	background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
	position: relative;
	z-index: 10;
	border-bottom: 1px solid #CACACA;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
}
.container{
	width: 920px;
	margin: 0 auto;
}

#logo a{
	float: left;
	position: relative;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	padding: 9px 0 0 0;
}

#userbox{
	float: right;
	line-height: 20px;
	padding: 7px 0;
}
#userbox a{
	color: #222;
	transition: color .15s ease-in 0;
	-moz-transition-property: color;
	-moz-transition-timing-function: ease-in;
	-moz-transition-duration: .15s;
	-moz-transition-delay: 0;
	-webkit-transition-property: color;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: .15s;
	-webkit-transition-delay: 0;
}

/*For footers*/
#footer{
	position: relative;
	bottom: 0;
	color: #636363;
	margin: 45px 0 0 0;
	font-size: 12px;
}
#footer #legal{
	text-align: center;
	float: left;
	padding-left: 179px;
}

/*For body*/
#content #allApproved{
	float: left;
	margin-top: 15px;
	width: 620px;
}
#content .term{
	background: url('../images/term.png') no-repeat;
	height: auto;
	padding: 0 0 1em 2em;
	overflow: hidden;
	border-bottom: 1px solid #CCC;
}

/*For a term*/
.term .name{
	font-size: 1.5em;
}
.title span{
	margin-right: 15px;
}
ul.readings{
	list-style-type: none;
	display: inline-block;
}
ul.readings li{
	display: inline-block;
}